<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2022 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.overlay.common.asteroids">
    <overlay
        android:priority="200"
        android:targetPackage="android"
        android:isStatic="true"
        android:requiredSystemPropertyName="ro.product.vendor.device"
        android:requiredSystemPropertyValue="Asteroids"/>
</manifest>
