on boot
    chown system system /dev/aac_richtap
    chmod 0600 /dev/aac_richtap

service vendor.vibrator /vendor/bin/hw/android.hardware.vibrator.service.asteroids
    class late_start
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/aac_richtap
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
